build.fsx.lock
BuildExtension.fsx.lock
BuildGeneral.fsx.lock
.fake/
.ionide/
.vs/
obj/
bin/
Debug/
Release/
packages/
packaging/
paket-files/
deploy/
hobbes.server/db/data
collectors/db/data/
docker-compose.prod.yml
*.user
workbench.json
**/db/data
**/AssemblyInfo.fs
hobbes.server/db/data1/
kubernetes/env.JSON
.env
kubernetes/env.yaml
tutorial/*.html
tutorial/scripts/*.html
repositories/
temp.*
*.ignore
!build.ignore
*.nupkg
docker/tmp
**/src/Properties/
docker/build
kubernetes/all.yaml
kubernetes/temp.yaml
services/**/Dockerfile
workers/**/Dockerfile
kubernetes/log.txt
hobbes-vscode/hb/grammar/hobbes.YAML-tmLanguage
nexus.txt
chart.html
*.cache
tools/visualizer/*.html
services/**/Dockerfile
workers/**/Dockerfile
common/**/Dockerfile
*.hb
tools/visualizer/cli/html
services/**/src/Broker.fs
